%html
  %head
    = stylesheet_link_tag 'spur'
  
  %body
    #header
      .header
        %p Spur
        .links
          = link_to 'Home', root_path
          - if logged_in?
            = link_to 'Logout', login_path
            %p
              = "#{current_user.login}"
          - else
            = link_to 'Login', login_path
        .clear
      .clear

    #body
      .body
        = yield
      .clear
      
    #footer
      .footer
        %p
          Footer stuff here
      .clear
      